@tailwind base;
@tailwind components;
@tailwind utilities;

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.square-button {
  @apply h-8 text-textDark rounded hover:bg-backgroundDark;
}

.circle-icon-button {
  @apply hover:text-primary hover:bg-blue-150 w-8 h-8 rounded-full p-1;
}

.raise-button {
  @apply flex h-8 bg-backgroundGray px-1.5 py-1 rounded-sm text-textDark gap-1 hover:bg-backgroundDark;

  &.raise-button-sm {
    @apply h-6 px-1.5 py-0.5;
  }

  &.selected {
    @apply bg-backgroundDarkest text-backgroundLightest;
  }
}

.label-control {
  @apply hover:bg-backgroundDark;

  .ant-select-selection-item {}

  .anticon {
    vertical-align: 0 !important;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 100px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(94, 108, 132, 0.3);
  border: 1px solid rgba(85, 85, 85, 0);
  border-radius: 100px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loading-overlay .loading-message {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-overlay .loading-message div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #0052CC;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-overlay .loading-message div:nth-child(1) {
  left: 8px;
  animation: loading-overlay1 0.6s infinite;
}

.loading-overlay .loading-message div:nth-child(2) {
  left: 8px;
  animation: loading-overlay2 0.6s infinite;
}

.loading-overlay .loading-message div:nth-child(3) {
  left: 32px;
  animation: loading-overlay2 0.6s infinite;
}

.loading-overlay .loading-message div:nth-child(4) {
  left: 56px;
  animation: loading-overlay3 0.6s infinite;
}

@keyframes loading-overlay1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loading-overlay3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loading-overlay2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}